.DS_Store
node_modules
/dist


# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.iml
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
php/Index_2021-03-01_06:00:37_446973-52-98.json
src/views/Betatest.vue.alt
src/views/Datenschutz.vue.alt
src/views/Suchhilfe.vue.alt
package-lock.json
