html{
    height:100%;
    overflow:hidden;
}
body{
    height:100%;
    width: 100%;
    overflow:auto;
    margin:0;
    font-family: 'Open Sans',sans-serif;
}
h1{
    text-align: left;
    //margin-left:5px;
    margin-top:30px;
    font-size:26px;
    font-weight: bold;
    color:#000;
    font-family: 'Open Sans',sans-serif;
    margin-bottom: 20px;
}
h2{
    text-align: left;
    font-size:24px;
    line-height:1.2;
    color:#000;
    font-family: 'Open Sans',sans-serif;
    margin-top: 26px;
    margin-bottom: 12px;
}
h3{
    text-align: left;
    font-size:22px;
    line-height:1.2;
    color:#000;
    font-family: 'Open Sans',sans-serif;
    margin-top: 24px;
    margin-bottom: 12px;
}
h4{
    text-align: left;
    line-height: 1.2;
    font-size:20px;
    color:#000;
    font-family: 'Open Sans',sans-serif;
    margin-bottom: 12px;
}
p{
    text-align: left;
    margin-bottom: 12px;
    color:#2b2b2b;
}
button{
    outline:none !important;
    border-radius:0 !important;
    box-shadow:none !important;
    font-weight: bold !important;
    transition: none!important;

    &.secondary{
        background-color: #6183ec;
        color:#fff;
        border-color:#6183ec !important;
    }
    &.secondary:focus{
        background-color: #6183ec;
        color:#fff;
        border-color:#6183ec;
    }
    &.secondary:hover,&.secondary:active{
        background-color: #fff;
        color:#6183ec;
        border-color:#6183ec !important;
    }
    &.primary{
        outline:none !important;
        background-color: #e5e9f1 !important;
        color:#000 !important;
        border-color: #e5e9f1 !important;
    }
    &.primary:hover,&.primary:active{
        background-color:#000 !important;
        border-color: #000 !important;
        color:#fff !important;
      }
}