
//colors
$primary: #6183ec;
$secondary: #e5e9f1;
$white:#ffffff;

//buttons
$btn-border-radius:0;
$btn-box-shadow: none;
$btn-focus-box-shadow: none;
$btn-active-box-shadow: none;
$btn-font-weight: bold;
$enable-shadows: false;

@import '~bootstrap/scss/bootstrap.scss';
@import '~bootstrap-vue/src/index.scss';
    

html{
    height:100%;
    overflow:hidden;
}
body{
    height:100%;
    width: 100%;
    overflow:auto;
    margin:0;
    font-family: 'Open Sans',sans-serif;
}
h1{
    text-align: left;
    margin-top:30px;
    font-size:26px;
    font-weight: bold;
    color:#000;
    font-family: 'Open Sans',sans-serif;
    margin-bottom: 20px;
}
h2{
    text-align: left;
    font-size:24px;
    line-height:1.2;
    color:#000;
    font-family: 'Open Sans',sans-serif;
    margin-top: 26px;
    margin-bottom: 12px;
}
h3{
    text-align: left;
    font-size:22px;
    line-height:1.2;
    color:#000;
    font-family: 'Open Sans',sans-serif;
    margin-top: 24px;
    margin-bottom: 12px;
}
h4{
    text-align: left;
    line-height: 1.2;
    font-size:20px;
    color:#000;
    font-family: 'Open Sans',sans-serif;
    margin-bottom: 12px;
}
p{
    text-align: left;
    margin-bottom: 12px;
    color:#2b2b2b;
}
