html{
    height:100%;
    overflow:hidden;
}
body{
    height:100%;
    width: 100%;
    overflow:auto;
    margin:0;
    font-family: 'Open Sans',sans-serif;
}
h1{
    text-align: left;
    margin-left:5px;
    margin-top:30px;
    font-size:26px;
    font-weight: bold;
    color:#000;
    font-family: 'Open Sans',sans-serif;
}
h2{
    text-align: left;
    font-size:24px;
    line-height:1.2;
    color:#000;
    font-family: 'Open Sans',sans-serif;
}
h3{
    text-align: left;
    font-size:22px;
    line-height:1.2;
    color:#000;
    font-family: 'Open Sans',sans-serif;
}
h4{
    text-align: left;
    line-height: 1.2;
    font-size:20px;
    color:#000;
    font-family: 'Open Sans',sans-serif;
}
button{
    outline:none !important;
    border-radius:0 !important;
    box-shadow:none !important;
    font-weight: bold !important;
    transition: none!important;

    &.secondary{
        background-color: #fff;
        color:#000;
        border-color:#000;
    }
    &.secondary:focus{
        background-color: #fff;
        color:#000;
        border-color:#000;
    }
    &.secondary:hover,&.secondary:active{
        background-color: #191919 !important;
        color:#fff;
        border-color:#000;
    }
    &.primary{
        outline:none !important;
        background-color: #11a3eb !important;
        color:#fff;
        border-color: #11a3eb !important;
    }
    &.primary:hover,&.primary:active{
        background-color:#41b5ef !important;
        border-color: #41b5ef !important;
      }
}